{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

<section class="hero">

  <img
    src="{{ 'fill-2.svg' | asset_url }}"
    width="37px"
    height="37px"
    class="Fill-2">
  <div class="line"></div>

  <section class="hero__header">
    <div class="menu__container">
      <span class="text-style-1">Inicio</span>
      <span>Acerca de nosotros</span>
      <span>Historia</span>
      <span>Contacto</span>
    </div>
    <div class="es-en__container">
      <span class="es-en">
        ES
      </span>
      <span class="text-style-1">EN</span>
    </div>
  </section>

  <div class="hero__content">
    <h1>Las mejores raquetas para jugar
      <span>Tennis</span>

      <button class="hero__button">
        <span>
          ACERCA DE NOSOTROS →
        </span>
      </button>
    </h1>
  </div>
</section>