{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

<section class="hero">
  <div class="hero__content">
    <h1>Las mejores raquetas para jugar <span>Tennis</span></h1>
    <a href="/about" class="hero__button">ACERCA DE NOSOTROS →</a>
  </div>
</section>